singularity {
	enabled = true
	singularity.autoMounts = true
	runOptions="--fakeroot"
}
SPADES.shell = ['/bin/bash/', '-e']
params {
	//Homopolish database

	db_dir = '/home/master_students/2022_Petros/mounted_aster/nextflow_test/database/bacteria.msh'

	//Trimming params

	adapter_file = 'NexteraPE-PE.fa'
	adapter_removal_param1 = 3
	adapter_removal_param2 = 25
	adapter_removal_param3 = 6
	sliding_window_quality_threshold = 20
	sliding_window_size = 5
	minqual = 28
	minlen = 50
}

