//Config file for DSL 2 Modules

process {

    withName: FASTQC {
	publishDir = [
	    path: { "${params.outdir}/${meta.id}/QC" },
	    mode: 'copy',
	    pattern: '*html']
    }
    withName: DRAGONFLYE {
	ext.args = { "--model r941_min_high_g303 --medaka 1 --cpus 10" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/01_dragonflye_assembly" },
            mode: 'copy',
            pattern: 'contigs*']
        memory = '25G'
    }
    withName: QUAST {
	publishDir = [
	    path: { "${params.outdir}/assmebly_QC"},
	    mode: 'copy',
	    pattern: '*.tsv']
    }
    withName: MASH_SCREEN {
	publishDir = [
	    path: { "${params.outdir}/${meta.id}/QC" },
	    mode: 'copy',
	    pattern: '*.screen']
    }
    withName: BAKTA {
	ext.args = { "--complete --locus-tag 'bakta' --threads 8" }
	publishDir = [
	    path: { "${params.outdir}/${meta.id}/05_annotation" },
	    mode: 'copy',
	    pattern: '*']
    }
    withName: FASTP {
	ext.args = { "--cut_right_mean_quality ${params.sliding_window_quality_threshold} --cut_right_window_size ${params.sliding_window_size} --cut_front_mean_quality ${params.minqual} --cut_tail_mean_quality ${params.minqual} --cut_tail --cut_front --length_required ${params.minlen}" }
	publishDir = [
	    path: { "${params.outdir}/${meta.id}/trimmed_reads" },
	    mode: 'copy',
	    pattern: '*.fastq.gz']
    }
    withName: SPADES {
	ext.args = { "-k 21,33,55,77,99,127" }
	publishDir = [
	   path: { "${params.outdir}/${meta.id}/01_spades_assembly" },
	   mode: 'copy',
	   pattern: "*.contigs.fa.gz"]
	cpus = 5
	memory = '10G'
   }	
}
