//Config file for DSL 2 Modules

process {



    withName: FASTQC {
	publishDir = [
	    path: { "${params.outdir}/QC/${meta.id}" },
	    mode: 'copy',
	    pattern: '*html']
    }

    withName: MULTIQC {
	publishDir = [
	    path: { "${params.outdir}/QC/" },
	    mode: 'copy',
	    pattern: '*html']
    }

    withName: DRAGONFLYE {
	ext.args = { "--minreadlen 0 --model r941_min_high_g303 --medaka 1" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/dragonflye_assembly" },
            mode: 'copy',
            pattern: 'contigs*']
        memory = '25G'
	cpus = 8
    }

    withName: UNICYCLER {
	ext.args = { "--min_fasta_length 500 --depth_filter 0.25" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/unicycler_assembly" },
            mode: 'copy',
            pattern: '*']
        memory = '25G'
	cpus = 8
    }

    withName: QUAST {
	
	publishDir = [
	    path: { "${params.outdir}/QC"},
	    mode: 'copy',
	    pattern: '*']
    }


    withName: MLST {
	ext.args = { "--label '${meta.id}'" }
	publishDir = [
	    path: { "${params.outdir}/${meta.id}/mlst" },
	    mode: 'copy',
	    pattern: '*']
    }

    withName: MASH_SCREEN {
	publishDir = [
	    path: { "${params.outdir}/${meta.id}/Contamination" },
	    mode: 'copy',
	    pattern: '*.screen']
    }
    withName: BAKTA {
	ext.args = { "--complete --locus-tag 'bakta_${meta.id}' --threads 8" }
	publishDir = [
	    path: { "${params.outdir}/${meta.id}/annotation" },
	    mode: 'copy',
	    pattern: '*']
	memory = '25G'
        cpus = 8
    }
    withName: FASTP {
	ext.args = { "--cut_right_mean_quality ${params.sliding_window_quality_threshold} --cut_right_window_size ${params.sliding_window_size} --cut_front_mean_quality ${params.minqual} --cut_tail_mean_quality ${params.minqual} --cut_tail --cut_front --length_required ${params.minlen}" }
	publishDir = [
	    path: { "${params.outdir}/${meta.id}/trimmed_reads" },
	    mode: 'copy',
	    pattern: '*.fastq.gz']
	cpus = 2
    }
   withName : RGI {
	publishDir = [
	   path: { "${params.outdir}/${meta.id}/resistance" },
	   mode: 'copy',
	   pattern: "*.tsv"]
	cpus = 5
   }
   withName: BLDB_SEARCH {
	publishDir = [
	   path: { "${params.outdir}/${meta.id}/resistance" },
	   mode: 'copy',
	   pattern: "*.tsv"]
	cpus = 5
   }
}
