//Config file for DSL 2 Modules

process {



    withName: FASTQC {
	publishDir = [
	    path: { "${params.outdir}/QC/FASTQC/" },
	    mode: 'copy',
	    pattern: '*html']
    }

    withName: MULTIQC {
	publishDir = [
	    path: { "${params.outdir}/QC/MULTIQC/" },
	    mode: 'copy']
    }
	
    withName: QUALIMAP_BAMQC {
	publishDir = [
	    path: { "${params.outdir}/QC/QUALIMAP/" },
	    mode: 'copy']
    }

    withName: DRAGONFLYE {
	
	ext.args = {"--minreadlen 0 --model r941_min_high_g303 --medaka 1 --gsize ${meta.genome_size}"}
        publishDir = [
            path: { "${params.outdir}/dragonflye_assembly" },
            mode: 'copy',
            pattern: '*']
        memory = '25G'
	cpus = 8
    }

    withName: UNICYCLER {
	ext.args = { "--min_fasta_length 500 --depth_filter 0.25" }
        publishDir = [
            path: { "${params.outdir}/unicycler_assembly" },
            mode: 'copy',
            pattern: '*']
        memory = '25G'
	cpus = 8
    }

    withName: QUAST {
	publishDir = [
	    path: { "${params.outdir}/QC/QUAST/"},
	    mode: 'copy',
	    pattern: '*.tsv']
    }

    withName: MLST {
	ext.args = { "--label '${meta.id}'" }
	publishDir = [
	    path: { "${params.outdir}/mlst" },
	    mode: 'copy',
	    pattern: '*']
    }

    withName: SOURMASH_SKETCH {
	ext.args = { "dna --param-string 'scaled=10000,k=21'" }
	publishDir = [
	    path: { "${params.outdir}/QC/contamination" },
	    mode: 'copy',
	    pattern: '*']
    }

    withName: SOURMASH_GATHER {
	publishDir = [
	    path: { "${params.outdir}/QC/contamination" },
	    mode: 'copy',
	    pattern: '*']
    }   

    withName: MASH_SCREEN {
	publishDir = [
	    path: { "${params.outdir}/QC/contamination" },
	    mode: 'copy',
	    pattern: '*.screen']
    }

    withName: CENTRIFUGE_CENTRIFUGE {
	publishDir = [
	    path: { "${params.outdir}/QC/contamination" },
	    mode: 'copy',
	    pattern: '*.report.*']
    }

    withName: CENTRIFUGE_LONG {
	publishDir = [
	    path: { "${params.outdir}/QC/contamination" },
	    mode: 'copy',
	    pattern: '*.report.*']
    }

    withName: CHECKM_LINEAGEWF {
	publishDir = [
	    path: { "${params.outdir}/QC/contamination" },
	    mode: 'copy',
	    pattern: '*']
	memory = '50G'
        cpus = 8
    }

    withName: BAKTA {
	ext.args = { "--skip-trna --skip-tmrna --skip-rrna --skip-ncrna --skip-ncrna-region --skip-crispr --complete --locus-tag 'bakta_${meta.id}'" }
	publishDir = [
	    path: { "${params.outdir}/annotation" },
	    mode: 'copy',
	    pattern: '*']
	memory = '25G'
        cpus = 8
    }

    withName: BANDAGE_IMAGE {
	publishDir = [
	    path: { "${params.outdir}/assembly_graphs" },
	    mode: 'copy',
	    pattern: '*png']
    }
    withName: REPORT_IDENTIFICATION {
	publishDir = [
	    path: { "${params.outdir}/report_identification" },
	    mode: 'copy']
    }

    withName: FASTP {
	ext.args = { "--cut_right_mean_quality ${params.sliding_window_quality_threshold} --cut_right_window_size ${params.sliding_window_size} --cut_front_mean_quality ${params.minqual} --cut_tail_mean_quality ${params.minqual} --cut_tail --cut_front --length_required ${params.minlen}" }
	publishDir = [
	    path: { "${params.outdir}/trimmed_reads" },
	    mode: 'copy',
	    pattern: '*.fastq.gz',
		enabled: false]
	cpus = 2
    }
   withName : RGI {
	publishDir = [
	   path: { "${params.outdir}/resistance" },
	   mode: 'copy',
	   pattern: "*.tsv"]
	cpus = 5
   }
   withName: BLDB_SEARCH {
	publishDir = [
	   path: { "${params.outdir}/resistance" },
	   mode: 'copy',
	   pattern: "*.tsv"]
	cpus = 5
   }
   withName: GTDBTK_CLASSIFY {
	publishDir = [
	   path: { "${params.outdir}/GTDBTK" },
	   mode: 'copy']
   }
   withName: BWA {
	publishDir = [
	   path: { "${params.outdir}/mapping" },
	   mode: 'copy',
	   enabled: false
	   ]
   }
   withName: BWA {
	publishDir = [
	   path: { "${params.outdir}/mapping" },
	   mode: 'copy',
	   enabled: false
	   ]
   }

}
